# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# =========================================
# Virtual environment
# =========================================
venv/
.env/
.venv/

# =========================================
# FastAPI / Uvicorn
# =========================================
*.log

# =========================================
# IDEs / Editores
# =========================================
# VSCode
.vscode/

# JetBrains (PyCharm)
.idea/
*.iml

# =========================================
# SO (Windows/Linux/macOS)
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Pytest / Coverage
# =========================================
.coverage
.cache/
htmlcov/

# =========================================
# Arquivos temporários
# =========================================
*.tmp
*.temp
